* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font: 13px Helvetica, Arial;
    background-color: #003c00;
}

#container {
    border: 2px solid #000000;
    width: 79.5%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    background-color: #000000;
    color: #ffffff;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 80%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 8px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages {
    margin-bottom: 40px;
}
